body{
	margin:0px;
	padding:0px;
}
p{
	color:white;
	font-size:13px;
	text-align:center;
}
ul {
	text-align: center;
	list-style-position: inside;
	display:flex;
  	justify-content: center;
	
  }

  ul li{
	list-style:none;
}

ul li a{
	background:#1C1E1F;
	color:#ccc;
	border-bottom:1px solid #111;
	display:block;
	width:180px;
	padding:10px;
	text-decoration: none;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  
#movies img, #movie img{
    width:100%;
  }
  
@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }
  
  #movies .col-md-3 img{
    height:240px;
  }
}
.button_divide{
  display: inline-block;
  margin: 5px; 
}

.double-nav .breadcrumb-dn {
  color: #fff;
}
.button-collapse i {
  color: #fff
}

.register {
	width: 200px;
	clear: both;
  }
  
  .register input {
	width: 100%;
	clear: both;
  }
  
  
